/* ------- Global styles ------- */

body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
  color: green;
}

h3 {
  color: gray;
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

div {
  display: block;
}


/* ------- Header ------- */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  background-color: white:
}

nav {
  display: flex;
  padding: 10px;
  margin-right: 50px;
}

nav span {
  padding: 10px;
}

.logo {
  margin-left: 30px;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.logo span {
  margin-left: 10px;
  color: MediumAquamarine;
}

/* ------- Main ------- */

main {
  display: flex;
  justify-content: center;
  width: 1232px;
  margin: 0 auto 87px auto;
  padding-top: 120px;
}


/* ------- Column Large ------- */

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.topstory .top-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 630px;
  height: 300px;
  font-family: Georgia;
  font-weight: Bold;
  font-size: 40px;
  color: white;
  background-image: url(../img/img-story-main.png);
}

.topstory .top-image span {
  margin-left: 20px;
}


.stories {
  width: 300px;
}

.test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lvl2 {
  width: 300px;
}

.lvl3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: Bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.research.lvl3 {
  display: flex;
  width: 300px;
  background-image: url(../img/img-story-3.png);
}

.earth.lvl3 {
  display: flex;
  width: 300px;
  background-image: url(../img/img-story-2.png);
}

.cats.lvl3 {
  display: flex;
  width: 300px;
  background-image: url(../img/img-story-1.png);
}

/* ------- Column Medium ------- */

.column.medium {
  width: 300px;
}

.lvl2 {
}

/* ------- Column Small ------- */

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.bites {
  display: flex;
  flex-direction: column;
}

.bite {
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
  padding: 20px;
  margin: 0px;
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
}
